x-ros-env: &ros-env
  DEV: ${DEV:-false}
  ROS_DISTRO: ${ROS_DISTRO:-jazzy}
  RMW_IMPLEMENTATION: rmw_fastrtps_cpp
  FASTDDS_BUILTIN_TRANSPORTS: DEFAULT
  PYTHONUNBUFFERED: 1

x-build-args: &build-args
  ROS_DISTRO: ${ROS_DISTRO:-jazzy}

services:

  ros2_imu:
    build:
      context: .
      dockerfile: Imu.dockerfile
      args:
        <<: *build-args
    volumes:
      - .:/ros2_ws/
    devices:
      - /dev/ttyACM0:/dev/ttyACM0
    environment:
      <<: *ros-env
      SERIAL_PORT: /dev/ttyACM0
    network_mode: host
    ipc: host 
    privileged: true
    restart: unless-stopped

  ros2_frontend:
    image: nginx:alpine
    volumes:
      - ./src/web_server/frontend:/usr/share/nginx/html
      - ./src/web_server/frontend/nginx.conf:/etc/nginx/conf.d/default.conf
    network_mode: host
    restart: unless-stopped
    depends_on:
      - ros2_web_server

  ros2_lidar:
    build:
      context: .
      dockerfile: lidar.dockerfile
      args:
        <<: *build-args
    volumes:
      - .:/ros2_ws/
    devices:
      - /dev/ttyUSB0:/dev/ttyUSB0
    environment:
      <<: *ros-env
    network_mode: host
    ipc: host 
    privileged: true
    restart: unless-stopped

  ros2_diff_robot:
    build:
      context: .
      dockerfile: DiffDriveHardware.dockerfile
      args:
        <<: *build-args
    volumes:
      - .:/ros2_ws/
    devices:
      - /dev/:/dev/
    environment:
      <<: *ros-env
    network_mode: host
    ipc: host 
    privileged: true
    depends_on:
      - ros2_imu
      - ros2_lidar
    restart: unless-stopped

  ros2_knife_controller:
    build:
      context: .
      dockerfile: KnifeMotorController.dockerfile
      args:
        <<: *build-args
    volumes:
      - .:/ros2_ws/
    devices:
      - /dev/ttyACM4:/dev/ttyACM4
    environment:
      <<: *ros-env
    network_mode: host
    ipc: host 
    privileged: true
    restart: unless-stopped

  ros2_camera_rp:
    build:
      context: .
      dockerfile: CameraRp.dockerfile
      args:
        <<: *build-args
    volumes:
      - .:/ros2_ws/
    devices:
      - /dev/:/dev/
    environment:
      <<: *ros-env
    network_mode: host
    ipc: host 
    privileged: true
    restart: unless-stopped


  ros2_nav2:
    build:
      context: .
      dockerfile: nav2.dockerfile
      args:
        <<: *build-args
    ipc: host
    volumes:
      - .:/ros2_ws/
    devices:
      - /dev/:/dev/
    environment:
      <<: *ros-env
    network_mode: host
    privileged: true
    depends_on:
      - ros2_slam
    restart: unless-stopped

  ros2_web_server:
    build:
      context: .
      dockerfile: WebServer.dockerfile
      args:
        <<: *build-args
    volumes:
      - .:/ros2_ws/
      - /dev/:/dev/
    environment:
      <<: *ros-env
      ENABLE_FLASK_LOGS: true
    network_mode: host
    privileged: true
    device_cgroup_rules:
      - "c 13:* rwm"
      - "c 240:* rwm"
      - "c 189:* rwm" 
      - "c 29:* rwm"
    ipc: host 
    restart: unless-stopped

  ros2_slam:
    build:
      context: .
      dockerfile: Slam.dockerfile
      args:
        <<: *build-args
    ipc: host
    volumes:
      - .:/ros2_ws/
    devices:
      - /dev/:/dev/
    environment:
      <<: *ros-env
    network_mode: host
    privileged: true
    depends_on:
      - ros2_imu
      - ros2_lidar
      - ros2_diff_robot
    restart: unless-stopped

  ros2_rosbridge:
    build:
      context: .
      dockerfile: Rosbridge.dockerfile
      args:
        <<: *build-args
    ipc: host
    volumes:
      - .:/ros2_ws/
    environment:
      <<: *ros-env
    network_mode: host
    restart: unless-stopped
