controller_manager:
  ros__parameters:
    update_rate: 30  # Hz
    use_sim_time: false
    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster
    diff_drive_controller:
      type: diff_drive_controller/DiffDriveController

diff_drive_controller:
  ros__parameters:
    left_wheel_names: ["left_wheel_joint"]
    right_wheel_names: ["right_wheel_joint"]

    wheel_separation: 0.295
    wheel_radius: 0.0925

    publish_tf: false        
    enable_odom_tf: false
    # odom_frame_id: "odom"
    # base_frame_id: "base_link"

    use_stamped_vel: false
    pose_covariance_diagonal: [0.2, 0.2, 9999.0, 9999.0, 9999.0, 0.2]
    twist_covariance_diagonal: [0.2, 0.2, 9999.0, 9999.0, 9999.0, 0.2]
    # Velocity and acceleration limits
    linear:
      x:
        has_velocity_limits: true
        max_velocity: 0.3 # m/s
        has_acceleration_limits: true
        max_acceleration: 1.2 # m/s^2
    angular:
      z:
        has_velocity_limits: true
        max_velocity: 1.0 # rad/s
        has_acceleration_limits: true
        max_acceleration: 4.5 # rad/s^2