map $http_upgrade $connection_upgrade {
    default upgrade;
    '' close;
}

server {
    listen 80;
    server_name localhost ${DOMAIN_NAME};

    include /etc/nginx/mime.types;
    types {
        application/javascript mjs;
    }

    access_log off;

    include /usr/share/nginx/html/snippets/relobot_locations.conf;
}
