map $http_upgrade $connection_upgrade {
    default upgrade;
    '' close;
}

server {
    listen 80;
    server_name localhost ${DOMAIN_NAME};

    include /etc/nginx/mime.types;
    types {
        application/javascript mjs;
    }

    access_log off;

    include /usr/share/nginx/html/snippets/relobot_locations.conf;
}

server {
    listen 443 ssl;
    server_name ${DOMAIN_NAME};

    ssl_certificate /etc/nginx/certs/live/${DOMAIN_NAME}/fullchain.pem;
    ssl_certificate_key /etc/nginx/certs/live/${DOMAIN_NAME}/privkey.pem;

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers HIGH:!aNULL:!MD5;
    ssl_prefer_server_ciphers on;

    include /etc/nginx/mime.types;
    types {
        application/javascript mjs;
    }

    access_log off;

    include /usr/share/nginx/html/snippets/relobot_locations.conf;
}
