ekf_filter_node:
  ros__parameters:
    frequency: 15.0
    sensor_timeout: 0.2
    two_d_mode: true
    publish_tf: true
    print_diagnostics: false

    map_frame: "map"
    odom_frame: "odom"
    base_link_frame: "base_link"

    odom0: "/diff_drive_controller/odom"
    odom0_config: [true, true, false,
                   false, false, false,
                   true, true, false,
                   false, false, false,
                   false, false, false]
    odom0_differential: true
    odom0_relative: true

    odom0_queue_size: 10

    imu0: "/imu"
    imu0_config: [false, false, false,
                  false, false, true,
                  false, false, false,
                  false, false, true,
                  false,  false,  false]
    imu0_differential: false
    imu0_relative: true
    imu0_queue_size: 10
    imu0_remove_gravitational_acceleration: true
